body {
    background-image: url("images/bg_stripes.png");
    background-size: cover;
    font-family: 'Mali', cursive;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 1fr 0.4fr 2fr 1fr;
    grid-gap: 1.5rem;
    max-width: 680px;
    margin: auto;
    margin-top: 2rem;
}

#login-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1.5rem;
    max-width: 680px;
    margin: auto;
    margin-top: 2rem;
    align-items: center;
}

header {
    grid-row: 1 / 2;
    background-color: #fff;
    border-radius: 30px;
    display: grid;
    grid-template-areas: 
    "logo sitename sitename"
    "logo tagline tagline";
    padding: 10px;
    justify-items:stretch;
    align-items: center;
}


#login-area {
    grid-row: 2 / 3;
    justify-self: stretch;
    align-self: baseline;
    text-align: center;
    border-radius: 30px;
}

#content-pane1 {
    grid-column: 1 / 2;
}

#content-pane2 {
    grid-column: 2 / 3;
}

#login-area input {
    font-size: 18px;
    margin: 10px;
    padding: 4px;
}

header img {
    width: 80%;
}

#logo {
    grid-area: logo;
    justify-self: right;
}

#sitename {
    font-size: 58px;
    font-weight: bold;
    grid-area: sitename;
}

#tagline {
    font-size: 18px;
    grid-area: tagline;
}

#button-area {
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    justify-content: center;
}

.game-controls {
    min-width: 24px;
    min-height: 24px;
    background-color: #FFFBA4;
    border: 14px solid #FFCC48;
    border-radius: 20px;
    box-shadow: 2px 2px black;
    padding: 10px;
    width: 64px;
    outline: none;
}

.admin-button {
    background-color: #FFFBA4;
    border: 2px solid #FFCC48;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    outline: none;
    padding: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Mali', cursive;
    font-weight: bold;
}

#login-button {
    background-color: #FFFBA4;
    border: 7px solid #FFCC48;
    border-radius: 20px;
    box-shadow: 2px 2px black;
    outline: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Mali', cursive;
    font-weight: bold;
}

#reject-button {
    background-color: #FFBFA4;
    border-color: #FF7448;
    grid-column: 1 / 2;
}

#activity-button {
    grid-column: 2 / 3;
}

#accept-button {
    background-color: #C8FF91;
    border-color: #48FF50;
    grid-column: 3 / 4;
}

#activity-button:active {
    background-color: #fff;
    box-shadow: 0px 0px black;
    transform: translateY(4px);
    outline:none;
}

#activity-button:hover {
    border: 14px solid #fff;
}

#activity-button:focus {
    background-color: #FFFBA4;
    border: 14px solid #FFCC48;
}

#parent-submit {
    background-color: #C8FF91;
    border: 14px solid #48FF50;
}

#star-area {
    grid-row: 3 / 4;
    justify-self: center;
}

#output-area {
    grid-row: 4 / 5;
    background-color: #FBFFD0;
    color: #445341;
    border: 4px solid #4A534B;
    border-radius: 30px;
    box-shadow: inset 0px 6px 6px 2px #ccc;
    font-weight: medium;
    font-size: 32px;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

#output-text {
    margin-top:2rem;
}

#controls-area {
    grid-row: 5 / 6;
    align-self:baseline;
    justify-self: center;
}


@media only screen and (max-width: 500px) {

    #sitename {
        font-size: 32px;
        font-weight: bold;
        grid-area: sitename;
    }
    
    #tagline {
        font-size: 10px;
        grid-area: tagline;
    }

    #logo {
        text-align: center;
    }

    header img {
        width: 60%;
    }

    #main-container {
        grid-gap: 1rem;
        grid-template-rows: 1fr 1.5fr 0.1fr 2fr 1fr;
    }

    #output-area {
        font-size: 24px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1px;
        padding-right: 1px;
    }
    
}