body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #E7E9AA;
}

#main-container {
    margin: auto;
    display: grid;
    grid-template-areas:
    "banner"
    "text-area"
    "hammy";
}

#banner-area {
    grid-area: banner;
    text-align: center;
    background-color: #B8E1D7;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 28px;
    background-image: url("images/bubbles.png");
    box-shadow: 2px 2px darkslategray;
}


#text-area {
    grid-area: text-area;
    justify-self: center;
    min-width: 400px;
    font-family: 'Dosis', sans-serif;
    font-size: 42px;
    font-weight: light;
    background-color: white;
    border: 2px solid black;
    border-radius: 60px;
    text-align: center;
    padding:15px;
    margin: 20px;;
}

#hammy {
    grid-area: hammy;
    justify-self: center;
}
